@import "../../../variables";

.users {
  padding: 40px 20px;

  &__table {
    margin-top: 14px;

    &-role {
      @include flex;
      gap: 7px;
    }

    &-link {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #4a46f1;
    }
  }
}
