@import "../../../../variables";

.addproperties {
  &__main {
    @include flex;
    gap: 21px;
    // justify-content: space-between;
    align-items: flex-start;
    padding: 28px 20px;
  }

  &__center,
  &__right {
    @include flexCol;
    gap: 16px;
  }

  &__card {
    @include flexCol;
    // display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    background: $bgSub;
    border: 1px solid $advancedBack;
    border-radius: 8px;
    padding: 25px;

    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: $textSub;
      padding-bottom: 4px;
    }

    &-block {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 16px;
    }

    &-row {
      @include flex;
      justify-content: space-between;
      gap: 16px;
    }
    // for prices
    &-rowGap {
      @include flex;
      justify-content: space-between;
      // align-items: flex-end;
      gap: 12px;
    }

    // Dropdowns
    &-singleselect {
      @include flexCol;
      gap: 4px;
      font-weight: 600;
      font-size: 12px;
      line-height: 13px;
      text-transform: uppercase;
      color: $textSmall;

      &-dropdown {
        cursor: pointer;
        background: $bg;
        border: 1px solid $advancedBack;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $textSmall;
        border-radius: 8px;
        padding: 12px 0 12px 16px;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1em;
      }
    }
  }
}

.singleProperty {
  padding: 40px 20px;
  @include flexCol;
  gap: 40px;

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 36px;
    color: $text;
    width: 658px;
  }

  &__subtitle {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: $text;
  }

  &__imgs {
    width: 100%;
    height: 442px;
    border: 1px solid black;
  }

  &__content {
    @include flex;
    gap: 48px;
    // justify-content: space-between;

    &-left {
      width: 768px;

      &-title {
        display: flex;
        align-items: baseline;

        &-left {
          @include flexCol;
          gap: 16px;

          p {
            @include flex;
            gap: 6px;

            span {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              color: $blue;
              text-decoration: underline;
              padding-left: 6px;
              cursor: pointer;
            }
          }
        }

        &-right {
          @include flexCol;
          gap: 15px;

          span {
            @include flex;
            gap: 4px;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: $blueSub;
          }

          p {
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            color: $textSub;
          }
        }
      }

      &-options {
        @include flex;
        gap: 15px;
        flex-wrap: wrap;
        padding: 36px 0 46px 0;

        div {
          @include flex;
          gap: 8px;
          background: $bgSub;
          width: fit-content;
          padding: 10px 18px;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $textSub;
          border: 1.5px solid $bg;
          border-radius: 8px;

          p {
            font-weight: 700;
          }
        }
      }

      &-desc {
        &-info {
          @include flex;
          flex-wrap: wrap;
          gap: 12px;
          padding: 20px 0 24px 0;

          p {
            width: fit-content;
            // background: #f3f4f8;
            background: $bgSub;
            padding: 10px 18px;
            border-radius: 8px;
            color: $textSub;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;

            span {
              font-weight: 700;
            }
          }
        }

        &-text {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $text;
        }
      }

      &-facility {
        padding: 48px 0 52px 0;

        &-card {
          @include flex;
          flex-wrap: wrap;
          gap: 20px;
          padding-top: 24px;

          p {
            @include flex;
            gap: 10px;
            width: 321px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $textSub;
          }
        }
      }

      &-otherFacility {
        &-card {
          @include flex;
          flex-wrap: wrap;
          gap: 32px;
          padding-top: 24px;

          p {
            @include flex;
            gap: 9px;
            width: 228px;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $textSub;
          }
        }
      }

      &-video {
        padding: 48px 0 52px 0;

        &-card {
          margin-top: 20px;
          width: 100%;
          height: 100%;

          iframe {
            width: 100%;
            height: 432px;
          }
        }
      }

      &-location {
        p {
          @include flex;
          gap: 6px;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $text;
        }

        &-map {
          margin-top: 12px;
        }
      }
    }

    // &-right {
    // }
  }
}
