@import "../../../../variables";

.addproperties {
  &__main {
    @include flex;
    gap: 21px;
    align-items: flex-start;
    padding: 28px 20px;
  }

  &__center,
  &__right {
    @include flexCol;
    gap: 16px;
  }

  &__card {
    @include flexCol;
    gap: 16px;
    background: $bgSub;
    border: 1px solid $advancedBack;
    border-radius: 8px;
    padding: 24px;
    // width: 679px;
    width: fit-content;

    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: $textSub;
      padding-bottom: 4px;
    }

    &-block {
      @include flexCol;
      gap: 16px;
    }

    &-row {
      @include flex;
      justify-content: space-between;
      gap: 16px;
    }
    // for prices
    &-rowGap {
      @include flex;
      justify-content: space-between;
      // align-items: flex-end;
      gap: 12px;
    }

    // Dropdowns
    &-singleselect {
      @include flexCol;
      gap: 4px;
      font-weight: 600;
      font-size: 12px;
      line-height: 13px;
      text-transform: uppercase;
      color: $textSmall;

      &-dropdown {
        width: 306px;
        background: $bg;
        border: 1px solid $advancedBack;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $text;
        border-radius: 8px;
        padding: 12px 0 12px 16px;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 1rem center;
        background-size: 1em;
      }
    }
    // Textareas
    &-text {
      @include flexCol;
      gap: 4px;
      font-weight: 600;
      font-size: 12px;
      line-height: 13px;
      text-transform: uppercase;
      color: $textSmall;
      // for price symbol
      position: relative;

      input {
        background: $bg;
        border: 1px solid $advancedBack;
        border-radius: 8px;
      }

      // full width and with height input
      &-larg {
        width: 629px;
        padding: 12px 0 62px 16px;
      }

      // full width only
      &-full {
        width: 629px;
        padding: 12px 16px;
      }

      // mid input
      &-mid {
        width: 283px;
        padding: 12px 16px;
      }

      // middPlus input
      &-midPlus {
        width: 412px;
        padding: 12px 16px;
      }

      // small input
      &-small {
        width: 100px;
        padding: 12px 16px;
      }

      // for prices
      &-price {
        width: 202px;
        padding: 12px 16px;
      }

      &-hug {
        width: 306px;
        padding: 12px 16px;
      }

      &-numSelector {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
        color: $textSmall;
        padding: 6px 9px;
        border: 1px solid $advancedBack;
        border-radius: 4px;
      }

      // for price and other icons in input
      & span {
        position: absolute;
        right: 16px;
        top: 30px;
        text-transform: lowercase;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $textSub;
      }
    }

    // file upload
    &-fileUpload {
      @include flex;
      gap: 10px;
      cursor: pointer;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      text-decoration-line: underline;
      color: $blue;

      input {
        display: none;
      }
    }

    &-flags {
      @include flexCenter;
      gap: 4px;

      li {
        cursor: pointer;
      }

      &-flag {
        opacity: 0.5;
        border-radius: 2px;
        border: 0.5px solid $textBtn;
        cursor: pointer;
      }

      &-flagActive {
        border-radius: 2px;
        border: 1px solid $blue;
      }
    }
  }
}
.editproperties {
}
