@import "../../../../variables";

.map {
  position: sticky;
  top: 90px;
  right: 0;//
  width: fit-content;
  // height: 822px;
  height: 91%;
  background: $bgAdmin;
  // padding: 28px 0;
  @include flexCol;
  gap: 37px;
  z-index: 91;

  @media screen and (max-width: 768px) {
    top: 75px;
  }

  &_ymap {
    position: relative;
  }

  &__close {
    width: fit-content;
    border-radius: 6px;
    border: 1.5px solid $textSub;
    background: $bgSub;
    padding: 12px;
    color: $textSub;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    position: absolute;
    z-index: 92;
    top: 32px;

    @media screen and (max-width: 768px) {
      top: 26px;
    }
  }
}
