@import "../../../../variables";

.map {
  // position: fixed;
  // top: 0;
  // right: 0;
  float: right;
  width: fit-content;
  height: 822px;
  background: $bgAdmin;
  // padding: 28px 0;
  @include flexCol;
  gap: 37px;
  z-index: 91;

  &_ymap {
    position: relative;
  }

  &__close {
    width: fit-content;
    border-radius: 6px;
    border: 1.5px solid $textSub;
    background: $bgSub;
    padding: 12px;
    color: $textSub;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    position: absolute;
    z-index: 92;
    top: 120px;
  }
}
