@import "../../variables";

.scrollablePropCard {
  position: relative;
  @include flex;

  .scrollLeft {
    z-index: 99;
    cursor: pointer;
    padding: 5px;
    font-size: 35px;
    background: $bgSub;
    color: $text;
    border: 1px solid $border;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -55px;
    transform: translateY(-50%, 50%);

    @media screen and (max-width: 1440px) {
      left: -35px;
    }
    @media screen and (max-width: 768px) {
      left: 0;
    }
  }
  .scrollRight {
    z-index: 99;
    cursor: pointer;
    padding: 5px;
    font-size: 35px;
    background: $bgSub;
    color: $text;
    border: 1px solid $border;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    // right: -35px;
    right: -55px;
    transform: translateY(-50%, 50%);

    @media screen and (max-width: 1440px) {
      right: -35px;
    }
    @media screen and (max-width: 768px) {
      right: 0;
    }
  }
}

.propCard,
.skeleton__home {
  @include flex;
  justify-content: space-between;
  gap: 24px;
  // flex-wrap: wrap;
  overflow-x: auto;
  width: 100%;
  @include transition;

  &::-webkit-scrollbar {
    width: 0px !important;
    height: 0px !important;
  }

  &__card {
    @include flexCol;
    min-width: 384px; //
    height: 440px;
    border-radius: 12px;
    border: 1.5px solid $advancedBack;
    overflow: hidden;

    &:hover img {
      transform: scale(1.2);
    }

    @media screen and (max-width: 1280px) {
      min-width: 358px;
      height: fit-content;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 12px 12px 0px 0px;
      border-bottom: 1px solid $advancedBack;
      background: $bgSub;
    }

    &-img {
      width: 383px;
      height: 286px;
      overflow: hidden;

      @media screen and (max-width: 1280px) {
        width: 100%;
        height: 200px;
      }

      // @media screen and (max-width: 1122px) {
      //   height: 202px;
      // }
    }

    &-main {
      @include flexCol;
      gap: 8px;
      background: $bgSub;
      padding: 16px;
      border-radius: 0px 0px 12px 12px;

      // @media screen and (max-width: 1122px) {
      @media screen and (max-width: 1280px) {
        padding: 9px;
      }

      &-top {
        @include flex;
        justify-content: space-between;

        p {
          color: $text;
          font-family: "Archivo";
          font-size: 20px;
          font-weight: 800;
          line-height: 28px;

          @media screen and (max-width: 1122px) {
            font-size: 19px;
          }
        }

        span {
          color: $textSmall;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          text-transform: uppercase;
        }
      }

      &-center {
        @include flexCol;
        gap: 8px;

        h5 {
          color: $text;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          //
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;

          @media screen and (max-width: 1122px) {
            font-size: 15px;
          }
        }

        &-geo {
          @include flex;
          gap: 4px;

          p {
            color: $textBtn;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-wrap: nowrap;

            @media screen and (max-width: 1122px) {
              font-size: 13px;
            }

            &:first-child:after {
              content: " |";
            }
          }
        }
      }

      &-bottom {
        @include flex;
        justify-content: space-between;
        padding-top: 14px;

        span {
          @include flex;
          gap: 10px;
          color: $textSub;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;

          @media screen and (max-width: 1122px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}

.propCardResult {
  @include flex;
  // justify-content: space-between;
  justify-content: flex-start;
  gap: 24px;
  flex-wrap: wrap;

  &__card {
    @include flexCol;
    width: 325px;
    border-radius: 12px;
    border: 1.5px solid $advancedBack;
    overflow: hidden;
    // height: 380px;

    &:hover img {
      transform: scale(1.2);
    }

    @media screen and (max-width: 1280px) {
      width: 288px;
      height: fit-content;
    }

    @media screen and (max-width: 400px) {
      width: 100%;
      height: fit-content;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 12px 12px 0px 0px;
      border-bottom: 1px solid $advancedBack;
      background: $bgSub;
    }

    &-img {
      width: 324px;
      height: 231px;
      overflow: hidden;

      @media screen and (max-width: 1280px) {
        width: 100%;
        height: 200px;
      }
    }

    &-main {
      @include flexCol;
      gap: 8px;
      background: $bgSub;
      padding: 12px;
      border-radius: 0px 0px 12px 12px;

      @media screen and (max-width: 1280px) {
        padding: 9px;
      }

      &-top {
        @include flex;
        justify-content: space-between;

        p {
          color: $text;
          font-family: "Archivo";
          font-size: 20px;
          font-weight: 800;
          line-height: 28px;

          @media screen and (max-width: 1280px) {
            font-size: 19px;
          }
        }

        span {
          color: $textSmall;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          text-transform: uppercase;
        }
      }

      &-center {
        @include flexCol;
        gap: 8px;

        h5 {
          color: $text;
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          //
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;

          @media screen and (max-width: 1280px) {
            font-size: 15px;
          }
        }

        &-geo {
          @include flex;
          gap: 4px;

          p {
            color: $textBtn;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-wrap: nowrap;

            @media screen and (max-width: 1280px) {
              font-size: 13px;
            }

            &:first-child:after {
              content: " |";
            }
          }
        }
      }

      &-bottom {
        @include flex;
        justify-content: space-between;
        padding-top: 14px;

        span {
          @include flex;
          gap: 3px;
          color: $textSub;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;

          @media screen and (max-width: 1280px) {
            gap: 2px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
