@import "../../variables";

.footer {
  background: #3f60a0;
  // background: $blue;
  z-index: 100; // 14/08 changes from 101 to 100
  padding: 12px 0;

  &__context {
    @include flex;
    gap: 24px;
    justify-content: space-between;

    @media screen and (max-width: 604px) {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    p {
      color: $bgSub;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;

      @media screen and (max-width: 1122px) {
        font-size: 13px;
      }
    }

    span {
      color: $bgSub;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;

      @media screen and (max-width: 1122px) {
        font-size: 13px;
      }
    }
  }
}
