@import "../../../../../variables";

.dash__input {
  background: $bg;
  color: $text;
  font-family: "Noto Sans Armenian";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 1.5px solid #cfd1da;
  border-radius: 8px;
  padding: 9px 90px 9px 16px;
  width: fit-content;
}
.dash__input::placeholder {
  color: #cfd1da;
}
