@import "../../variables";

.header {
  background: $bg;
}

.header2 {
  background: $bgSub !important;
  border-bottom: 1px solid $advancedBack !important;
}

.header,
.header2 {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 27px 0;

  @media screen and (max-width: 1122px) {
    padding: 22px 0;
  }

  &__nav {
    @include flex;
    justify-content: space-between;
  }

  &__left {
    &-link {
      @include flexCenter;

      img {
        @media screen and (max-width: 1122px) {
          width: 134px;
        }
      }
    }
  }

  &__right {
    @include flex;
    gap: 12px;
  }

  &__service {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $text;
    margin-right: 24px;

    @media screen and (max-width: 1122px) {
      font-size: 15px;
    }
  }

  &__contact {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $blue;
    margin-right: 24px;

    @media screen and (max-width: 1122px) {
      font-size: 15px;
    }
  }
}
