@import "../../variables";

.contact {
  &_btn {
    margin-top: 12px;
    width: 100%;
    border-radius: 8px;
    background: #0f5bed;
    color: $bgSub;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    @include transition;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      border: 1px solid $bgSub;
    }

    @media screen and (max-width: 768px) {
      padding: 12px 0;
    }
  }

  &_main {
    @include flexCol;
    gap: 36px;
    padding: 40px 0 120px 0;

    @media screen and (max-width: 768px) {
      gap: 22px;
      padding: 40px 0;
    }
  }

  &_context {
    display: flex;
    justify-content: space-between;
    gap: 48px;

    @media screen and (max-width: 1122px) {
      gap: 22px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    form {
      @include flexCol;
      gap: 12px;
      border-radius: 10px;
      padding: 40px;
      // min-width: 576px;
      width: 50%;
      height: fit-content;
      border: 1px solid #e7e9f0;

      @media screen and (max-width: 1122px) {
        padding: 20px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px 16px;
        border-radius: 8px;
        background: #f3f4f8;
        color: #0f1013;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        resize: none;
      }

      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
      }
    }

    &_all {
      @include flexCol;
      gap: 18px;
      width: 50%;

      @media screen and (max-width: 1122px) {
        gap: 11px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      h2 {
        color: $text;
        font-size: 40px;
        font-weight: 800;
        line-height: 56px;

        @media screen and (max-width: 1122px) {
          font-size: 26px;
        }
      }

      h4 {
        color: $text;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        @media screen and (max-width: 1122px) {
          font-size: 15px;
          line-height: 20px;
        }
      }

      p {
        color: #161c2d;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        @media screen and (max-width: 1122px) {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }

    &_social {
      @include flex;
      gap: 40px;

      @media screen and (max-width: 1122px) {
        gap: 22px;
        flex-wrap: wrap;
      }

      a {
        color: $text;
        @include flex;
        gap: 12px;
        font-family: Noto Sans Armenian;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

        @media screen and (max-width: 1122px) {
          font-size: 15px;
        }

        // @media screen and (max-width: 768px) {
        //   width: 100%;
        // }
      }
    }
  }
}
