@import "../../../variables";

.properties {
  // padding: 24px 20px; senca bayc sxala
  padding: 40px 20px;

  &__searchbox {
    &-top {
      @include flex;
      justify-content: space-between;
      padding: 24px 0 16px 0;
    }

    &-search {
      @include flex;
      position: relative;

      span {
        position: absolute;
        left: 15px;
      }

      input {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        // color: $textBtn;
        padding: 12px 101px 12px 40px;
        background: $bgSub;
        border: 1px solid $inputBorder;
        border-radius: 6px;
        width: 472px;

        &::placeholder,
        :-ms-input-placeholde,
        ::-ms-input-placeholder {
          color: $textBtn;
        }
      }
    }

    &-advanced {
      @include flex;
      gap: 8px;
      font-size: 16px;
      line-height: 18px;
      color: $textSub;
      background: $bgSub;
      border: 1.5px solid $textSub;
      border-radius: 8px;
      padding: 11px 18px;
    }

    &-advancedClose,
    &-advancedOpen {
      background: $advancedBack;
      border-radius: 10px;
      padding: 16px;
      @include flex;
      justify-content: space-between;
      gap: 8px;
    }
  }
}
