@import "../../../../variables";

.addNewClient {
  &__main {
    @include flex;
    gap: 21px;
    // justify-content: space-between;
    align-items: flex-start;
    padding: 28px 20px 0;
  }

  &__center,
  &__right {
    @include flexCol;
    gap: 16px;
  }

  textarea {
    width: 628px;
    height: 155px;
  }

  &__homelist {
    @include flexCol;
    gap: 10px;
    padding: 66px 20px;

    h4 {
      color: $text;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }

    &-homes {
      @include flexCol;
      gap: 10px;

      li {
        @include flex;
        gap: 12px;

        a {
          // width: 646px;
          @include flex;
          gap: 48px;
          padding: 14px 16px;
          background: $bgSub;
          border-radius: 10px;

          p:nth-child(2) {
            width: 150px;
          }

          p {
            color: $text;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }
        }

        button {
          background: transparent;
        }
      }
    }
  }

  &__displaylist {
    @include flexCol;
    gap: 10px;
    padding: 32px 20px 0;

    h4 {
      color: $text;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
    }

    &-homes {
      @include flexCol;
      gap: 10px;

      li {
        @include flex;
        gap: 12px;

        a {
          // width: 646px;
          @include flex;
          gap: 48px;
          padding: 14px 16px;
          background: $bgSub;
          border-radius: 10px;

          p:nth-child(2) {
            width: 150px;
          }

          p {
            color: $text;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }
        }

        input {
          padding: 9px 16px;
          border-radius: 8px;
          border: 1.5px solid $inputBorder;
          cursor: pointer;
        }

        button {
          background: transparent;
        }
      }
    }
  }
}
